includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
    excludePaths:
        - app/Http/Controllers/Auth/*
        - app/Livewire/Auth/*
        - app/Livewire/Settings/*
        - app/Livewire/Actions/Logout.php

    # Level 10 is the highest level
    level: 5
